@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  background-color: #282c33;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c33;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1a1a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
